<%- include('../includes/head.ejs') %>
    <main class="container">
        <h1><%= prod.title %></h1>
        <p><%= prod.description %></p>
        <img src="<%= prod.imageUrl %>" alt="<%= prod.title %>">
        <h3><%= prod.price %></h3>

        <%- include('../includes/add-to-cart.ejs') %>
    </main>
<%- include('../includes/footer.ejs') %>